<mat-select [(ngModel)]="selectedEntity" (selectionChange)="onEntityChanged()"  [ngModelOptions]="{standalone: true}" class="mat_select_header" placeholder="Выбрать справочник">
  <mat-option>--</mat-option>
  <mat-option *ngFor="let name of listOfEntities" [value]="name.id"> {{ name.name }} </mat-option>
</mat-select>
<div *ngFor="let item of listOfInstances; let i = index">
<mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" >
<mat-expansion-panel-header>
  <mat-panel-title>
    <p *ngIf="item.id === ''">
      Добавить поле
    </p>
    <p *ngIf="item.id !== ''">
      Редактировать поле
    </p>
  </mat-panel-title>
</mat-expansion-panel-header>
<app-dynamic-form [formFields]="formFields " [instance] ="item" [field] ="listOfFields" ></app-dynamic-form>
  
<!-- #docregion action-bar -->
<!-- <mat-action-row>
  <button mat-button color="primary" (click)="addField()">Добавить</button>
</mat-action-row> -->
<!-- #enddocregion action-bar -->
</mat-expansion-panel>
</div>
<!-- <cdk-accordion class="example-accordion">
  <cdk-accordion-item
    *ngFor="let item of listOfInstances; let index = index;"
    #accordionItem="cdkAccordionItem"
    class="example-accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index">
    <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
     
      <span class="example-accordion-item-description">
        Click to {{ accordionItem.expanded ? 'close' : 'open' }}
      </span>
    </div>
    <div
      class="example-accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index">
      
          
    </div>
  </cdk-accordion-item>
</cdk-accordion>
 -->
