@import "../../../../node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css";
@import "../../../../node_modules/bootstrap/dist/css/bootstrap.css";
.gantt-chart{
    position: relative;
    width: 100%;
    height: 1000px;
}
html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#gantt_here {
    width:100%;
    height:100%;
}

.gantt_grid_scale .gantt_grid_head_cell,
.gantt_task .gantt_task_scale .gantt_scale_cell {
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.resource_marker{
    text-align: center;
}
.resource_marker div{
    width: 28px;
    height: 28px;
    line-height: 29px;
    display: inline-block;
    border-radius: 15px;
    color: #FFF;
    margin: 3px;
}
.resource_marker.workday_ok div {
    background: #2a8dd4;
}

.resource_marker.workday_over div{
    background: #ff8686;
}



.owner-label{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 25px;
    background: #e6e6e6;
    color: #6f6f6f;
    margin: 0 3px;
    font-weight: bold;
}
.material-icons.color_blue { color: #2a8dd4; }
.gantt_grid_scale, .gantt_task_scale, .gantt_task_vscroll {
    background-color: #eee;
}
.gantt_grid_scale, .gantt_task_scale, 
.gantt_task .gantt_task_scale .gantt_scale_cell,
.gantt_grid_scale .gantt_grid_head_cell {
    color: #000;
    font-size: 12px;
    border-bottom: 1px solid #cecece;
  
}
.icon-text {
    display: flex;
    align-items: center;
}

.gantt_grid_scale, .gantt_task_scale, 
.gantt_task .gantt_task_scale .gantt_scale_cell,
.gantt_grid_scale .gantt_grid_head_cell {
    color: #000;
    font-size: 12px;
   background-color: white;
   border-color:  #2a8dd4;
}

